
@font-face {
    font-family:"Khorla";
    src:url("Khorla.woff2") format("woff2"),url("Khorla.woff") format("woff"),url("Khorla.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        